<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    告诉spring创建对象
        1.通过bean标签，声明bean，告诉spring，需要创建某个类的对象
                id：对象的自定义名称（引用名），唯一值。spring通过这个名称来找到对象。
                class:类的全限定名称(不能是接口，因为spring是反射机制，反射机制创建对象，必须是类，不能是接口)

          spring就完成SomeService someService = new SomeServiceImpl();
          spring把创建好的对象，放到map中，spring框架中会有一个map来存储对象，
          id是key，对象是value  springmap.put(id的值，对象);
          springmap.put(someService,new SomeServiceImpl());

         一个bean标签声明一个对象
-->
    <bean id="someService" class="com.bjpowernode.service.impl.SomeServiceImpl"></bean>



<!--
spring 创建非自定义类对象，   非定义类对象，就是不是我们自己定义的，而是其他人定义的，比如String类对象，Date类对象等。
spring是负责创建对象的，只要有定义的类，就能创建对象
-->
    <bean id="date" class="java.util.Date"></bean>
</beans>
<!--
spring 的配置文件
    1.beans：是根标签，spring把java对象成为bean。
    2.spring-beans-xsd 是约束文件，和mybatis指定dtd是一样的。
    3.最后一行是约束文件
-->