<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    声明Student对象

        di给属性赋值：
            简单类型：spring中规定java的基本数据类型和String类型都是简单类型
            1.set注入：spring调用类的set方法，可以在set方法中完成属性赋值
                1) 简单类型的set注入：
                    <bean id="xxx" class="xxx" >
                        <property name=“属性名称” value="属性值“ />   一个property只能给一个属性赋值
                    </bean>
                    set注入，只会调用类的set方法，并不会检测该方法对应的属性是否存在，只要set方法存在，
                        即使该方法对应的属性不存在，也能正常执行。
                    set注入，只会调用类的set方法，并不会检测，该方法是否把值赋给属性，如果我们在类中定义了
                        set方法，且方法体为空，spring仍能执行，结果就是没有赋值罢了。

                 2)引用类型的set注入，spring调用类的set方法
                    <bean id="xxx" class="xxx" >
                        <property name=“属性名称” ref="bean的id“ />   一个property只能给一个属性赋值
                    </bean>
-->

    <bean id="student" class="com.bjpowernode.ba01.Student" >
        <property name="name" value="张三"/>
        <property name="age" value="12"/><!-- value必须是带引号-->
    </bean>

    <bean id="student01" class="com.bjpowernode.ba02.Student01" >
        <property name="name" value="张三"/>
        <property name="age" value="12"/><!-- value必须是带引号-->
        <property name="school" ref="school"/>
    </bean>


<!--    声明一个school对象-->
    <bean id="school" class="com.bjpowernode.ba02.School">
        <property name="name" value="北京大学"/>
        <property name="address" value="北京市"/>
    </bean>

</beans>